.icon-row {
  display: flex;
  justify-content: space-between;
}
.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-row__icon i {
  margin-bottom: 18px;
}
.icon-row__44width {
  width: 44%;
}
.icon-row__add-margin {
  margin: 40px 0px;
}

.icon-row__72width {
  width: 72%;
}
